<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Gerenciador de Tarefas</title>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a href="#" class="navbar-brand">
                {{ title }}
              </a>
            </div>
          </div>
        </nav>
  

    <router-outlet></router-outlet>

  </div>
</body>
</html>

